* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 10px;
    background-color: #f7f7f9;
    font-family: "NotoSansMedium";
}

@media (min-width: 1024px) {
    html,
    body {
        width: 100vw;
    }
}
@media (min-width: 1024px) {
    html,
    body {
        position: absolute;
        width: 1024px;
        max-width: 1024px;
        left: 50%;
        transform: translateX(-50%);
    }
}

input,
select,
textarea,
button {
    cursor: pointer;
}

.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.g-10 {
    gap: 1rem;
}
.g-20{
    gap: 2rem;
}

.slick-slider  {
    width: 100%;
    height: 100vh;
}

.slick-list > div {
    width: 100%;
    height: 100%;
}

.slick-dots {
    top: 97vh;
}





